# VS Code files
.vscode/

# Catch Header File for tests
catch.hpp

# Coverage files
html/
coverage.info
*.gc*

# Application output
main

# Object files
*.o

# Input files
input*.txt

# Memory leak test output files
valgrind.txt