# VS Code files
.vscode/

# Catch Header File for tests
catch.hpp

# Coverage files
html/
coverage.info
*.gc*

# Memory leak test output files
valgrind.txt

# Static test output file
cppcheck.xml

# Application output
main

# Object files
*.o